// Global process settings
process {
    withLabel: docker {
        container = 'kzhang04/de-pipeline:0.1.0'
    }
    withName: loadData {
        memory = '8 GB'
        cpus = 4
    }
    withName: differentialExpression {
        memory = '8 GB'
        cpus = 4
    }
    withName: geneOntology {
        memory = '8 GB'
        cpus = 4
    }
    withName: plotResults {
    memory = '8 GB'
    cpus = 4
    }
    executor = 'local'
}

// Docker settings
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'  // Ensure proper file permissions for output
}

// Log directory
trace {
    enabled = true
    overwrite = true
    file = 'pipeline_trace.log'
}

// Default parameters
params {
    input_rds = "./data/AD_microglia_data.rds"   // Placeholder for input; set in main.nf or via CLI
}
